.animHolder {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imgAnim {    
    background-position: center center;
    background-size: cover;
    z-index: 0;
}

#dice1{
    background-image: url("../img/dice1.jpg");
}
#dice2{
    background-image: url("../img/dice2.jpg");
}
#dice2.dice3 {
    background-image: url("../img/dice3.jpg");
}

#slot1{
    background-image: url("../img/slot1.jpg");
}
#slot2{
    background-image: url("../img/slot2.jpg");
}
#slot2.slot3 {
    background-image: url("../img/slot3.jpg");
}

#blackjack1{
    background-image: url("../img/blackjack1.jpg");
}
#blackjack2{
    background-image: url("../img/blackjack2.jpg");
}
#blackjack2.blackjack3 {
    background-image: url("../img/blackjack3.jpg");
}

#roulette1{
    background-image: url("../img/roulette1.jpg");
}
#roulette2{
    background-image: url("../img/roulette2.jpg");
}
#roulette2.roulette3 {
    background-image: url("../img/roulette3.jpg");
}

.animHolder > .mask {
    height: 100%;
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18%;
    cursor: pointer;
    background: rgba(0,0,0,0.7);
    transition: all 1s;
    opacity: 0;
}

.animHolder > .mask > * {
    font-weight: 100;
}

.animHolder > .mask h1{
    color: #ffb600;
    text-decoration: none;
    font-size: 3vw;
    text-shadow: 2px 2px 5px rgba(150,150,150,0.7), 9px 8px 0px rgba(0,0,0,0.15);
}

.animHolder > .mask:hover {
    opacity: 1;
    -ms-transform: translate(0, 0); /* IE 9 */
    -webkit-transform: translate(0, 0); /* Safari */
    transform: translate(0, 0);
}

